.main__section-3 {
    width: 90%;
    margin: auto;
    height: 110vh;
    margin-top: 12vh;
}
h2 {
    text-align: center;
}

.text-wrapper {
    p {
        box-shadow: 10px 0.5px 25px -19px #073f5d;
        border-radius: 1px;
        text-align: center;
        width: 100%;
        font-size: 16px;
        padding: 0.7em;
    }
}

.speaking-guy-wrapper {
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    .speaking-guy__img-wrapper {
        display: flex;
        justify-content: flex-end;
    }
    .speaking-guy__bubble-wrapper {
        position: absolute;
        z-index: -10;
        background-image: url("../../images/cloud-3.png");
        background-size: 100%;
        background-repeat: no-repeat;
        top: -1em;
        left: 0em;
        font-size: 14px;
        width: 16em;
        height: 100%;
        p {
            padding: 40px 40px 0em 35px;
        }
    }
    .speaking-guy__icons-wrapper {
        display: flex;
        justify-content: center;
        .icons {
            text-align: center;
            img {
                margin: 20px 25px 0px 25px;
                width: 40px;
                height: 40px;
            }
        }
    }
}
