footer {
    width: 100vw;
    text-align: center;
    color: rgb(255, 249, 249);
    font-size: 14px;
    .footer__wrapper {
        background-color: rgba(11, 61, 97, 0.9);
        width: 100%;
    }

    .wrapper__p {
        p {
            padding: 1em 0px
        }
    }
    hr {
        border: solid 0.1px rgb(240, 39, 43);
        width: 80%;
        padding: 0 auto;
        margin: 0 auto;
    }

    .address__text {
        display: flex;
        flex-direction: row;
        padding-top: 1em;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        i {
            overflow: visible;
            padding-right: 13px;
        }
        p {
            overflow: visible;
            text-decoration: none;
        }
    }

    span {
        font-size: 12px;
        overflow: visible;
    }
}
