@media screen and (min-width: 375px) {
    header {
        #nav-burger {
            margin-top: 4vh;
            margin-right: 15px;
        }
    }
    .main__section-2 {
        margin-top: 11vh;
    }
    .section-2__project-wrapper {
        .planet-wrapper {
            .project-bubble-wrapper {
                top: 20px;
                left: 130px;
            }
            .project-bubble-wrapper-mars {
                left: 90px;
            }
        }
    }

    .main__section-3 {
        padding-top: 50px;
        height: 100vh;
        margin-top: 8vh;
    }

    .speaking-guy-wrapper {
        .speaking-guy__bubble-wrapper {
            top: -15px;
            left: 40px;
        }
        .speaking-guy__icons-wrapper {
            .icons {
                width: 30%;
            }
        }
    }
    .main__section-4 {
        height: 100vh;
    }
    .section-4__contact {
        .contact__calling-guy-wrapper {
            display: flex;
            justify-content: flex-start;
        }
    }
}

@media screen and (min-width: 375px) and (min-height: 812px) {
    body {
        .section-2__project-wrapper {
            .planet-wrapper {
                .project-bubble-wrapper {
                    top: 20px;
                    left: 120px;
                }
                .project-bubble-wrapper-mars {
                    left: 90px;
                }
            }
        }
        .main__section-3 {
            padding-top: 50px;
            height: 90vh;
        }
        .speaking-guy-wrapper {
            .speaking-guy__bubble-wrapper {
                p {
                    padding: 38px 45px 0px 33px;
                }
            }
        }
        .main__section-4 {
            height: 85vh;
        }
        .section-4__contact {
            .contact__bubble-wrapper {
                p {
                    padding: 90px 35px 0px 60px;
                }
            }
        }
    }
}

@media screen and (min-width: 540px) and (max-width: 738px) {
    .section-2__project-wrapper {
        width: 90%;
        margin: auto;
        .planet-wrapper {
            margin-left: 8vw;

            .project-bubble-wrapper {
                top: 20px;
                left: 130px;
            }
            .project-bubble-wrapper-mars {
                left: 110px;
            }
        }
    }

    body {
        height: 85vh;
        .text-wrapper {
            width: 90%;
            margin: auto;
        }
        .speaking-guy-wrapper {
            .speaking-guy__img-wrapper {
                img {
                    margin-right: 100px;
                }
            }
            .speaking-guy__bubble-wrapper {
                top: -15px;
                left: 100px;
            }
            .speaking-guy__icons-wrapper {
                .icons {
                    width: 30%;
                }
            }
        }

        .main__section-4 {
            height: 90vh;
        }
        h2 {
            margin-bottom: 50px;
        }
        .section-4__contact {
            .contact__form {
                width: 240px;
                margin: auto;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        width: 100%;
        margin: auto;
        main {
            width: 100%;
        }
        #nav-burger {
            display: none;
        }
        .nav__div-wrapper {
            overflow: hidden;
            width: 100%;
            height: 7vh;
        }
        .nav__ul-toggle {
            transform: translateX(0%);
        }
        .nav__ul {
            display: flex;
            position: relative;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            li {
                padding-top: 0em;
                display: flex;
                text-align: center;
                align-items: center;
                a {
                    padding-top: 0em;
                    margin: 0em 1.5em;
                }
            }
        }
        .nav__icons-wrapper {
            display: none;
        }
        .main__section-1 {
            margin-top: 10vh;
            overflow: visible;
            height: 90vh;
        }
        .main__section-2 {
            margin-top: 9vh;
        }
        .section-1__first-guy-wrapper {
            img {
                margin-left: 25vh;
            }
        }
        .section-2__project-wrapper {
            width: 80%;
            margin: auto;

            .planet-wrapper {
                margin-left: 8vw;
            }
        }
        .main__section-3 {
            height: 50vh;
            margin-top: 9vh;
        }

        .speaking-guy-wrapper {
            .speaking-guy__img-wrapper {
                img {
                    margin-right: 120px;
                }
            }
            .speaking-guy__bubble-wrapper {
                top: -15px;
                left: 280px;
            }
            .speaking-guy__icons-wrapper {
                .icons {
                    width: 30%;
                }
            }
        }

        .main__section-4 {
            height: 65vh;
            width: 70%;
            margin-top: 12vh;
        }

        .section-4__contact {
            flex-direction: row;
            justify-content: space-between;
            .contact__calling-guy-wrapper {
                margin-top: 90px;
                width: 207px;
                height: 225px;
            }
            .contact__bubble-wrapper {
                top: 0px;
            }
            .contact__form {
                width: 40%;
                margin: 0;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .nav__div-wrapper {
        padding: 0 0px 0 3%;
    }
    body {
        main {
            width: 950px;
            margin: auto;
        }
        .section-2__project-wrapper {
            width: 80%;
            margin: auto;
            .planet-wrapper {
                margin-left: 12vw;
            }
            .project-description-wrapper {
                p {
                    width: 80%;
                    margin: auto;
                }

                .description-wrapper__buttons {
                    margin-top: -1.5em;
                }
            }
        }

        .main__section-3 {
            height: 50vh;
            width: 60%;
        }

        .speaking-guy-wrapper {
            .speaking-guy__img-wrapper {
                img {
                    margin-right: 100px;
                }
            }
            .speaking-guy__bubble-wrapper {
                top: -15px;
                left: 175px;
            }
            .speaking-guy__icons-wrapper {
                .icons {
                    width: 30%;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        .main__section-4 {
            height: 55vh;
            width: 55%;
        }
        .section-4__contact {
            flex-direction: row;
            justify-content: space-between;
            .contact__calling-guy-wrapper {
                margin-top: 90px;
                width: 207px;
                height: 225px;
            }
            .contact__bubble-wrapper {
                top: 0px;
            }
            .contact__form {
                width: 40%;
                margin: 0;
            }
        }
    }
    footer {
        padding-top: 0px;
    }
}
@media screen and (min-width: 1025px) {
    body {
        .nav__ul {
            .li-items {
                a {
                    font-size: 22px;
                }
            }
        }
        .nav__div-wrapper {
            height: 10vh;
        }

       
        
        .main__section-3 {
            height: 65vh;
        }
        .main__section-4 {
            height: 60vh;
        }
    }
}
